---
import type { CollectionEntry } from "astro:content"
import HoverList from "~/components/global/HoverList.astro"
import Item from "~/components/global/Item.astro"
import { formatDate } from "~/utils"

type Props = {
  posts: CollectionEntry<"posts">[]
}

const { posts } = Astro.props
---

{
  !!posts.length ? (
    <HoverList>
      {posts.map(({ data, id }, i) => (
        <Item index={i} href={`/posts/${id}`} linkTitle={data.title}>
          <span class="font-medium">{data.title}</span>

          <time datetime={data.pubDate.toISOString()} slot="aside">
            {formatDate(data.pubDate)}
          </time>
        </Item>
      ))}
    </HoverList>
  ) : (
    <p>No posts found</p>
  )
}
