---
import type { CollectionEntry } from "astro:content"
import type { HTMLAttributes } from "astro/types"
import Item from "~/components/global/Item.astro"
import { formatDate } from "~/utils"

type Props = HTMLAttributes<"a"> & {
  posts: CollectionEntry<"posts">[]
}

const { posts, ...props } = Astro.props
---

{
  !!posts.length ? (
    <ul>
      {posts.map(({ data, slug }) => (
        <Item>
          <a href={`/posts/${slug}`} title={data.title} {...props}>
            {data.title}
          </a>

          <time datetime={data.pubDate.toISOString()} slot="aside">
            {formatDate(data.pubDate)}
          </time>
        </Item>
      ))}
    </ul>
  ) : (
    <p>No posts found</p>
  )
}
