---
import type { CollectionEntry } from "astro:content"
import HoverList from "~/components/global/HoverList.astro"
import Item from "~/components/global/Item.astro"

type Props = {
  projects: CollectionEntry<"projects">[]
}

const { projects } = Astro.props
---

{
  !!projects.length ? (
    <HoverList>
      {projects.map(({ data }, i) => (
        <Item
          index={i}
          href={data.url}
          target="_blank"
          rel="noopener noreferrer"
          linkTitle={data.description}
        >
          <span class="font-medium">{data.title}</span>

          {data.description && (
            <span class="hidden text-muted text-sm sm:inline">
              — {data.description}
            </span>
          )}

          <span slot="aside" class="text-muted tabular-nums">
            {data.year}
          </span>
        </Item>
      ))}
    </HoverList>
  ) : (
    <p>No projects found</p>
  )
}
