---
import { formatDate } from "@curiousleaf/utils"
import { Image } from "astro:assets"
import type { CollectionEntry } from "astro:content"

type Props = CollectionEntry<"tools">["data"]

const { url, title, description, image } = Astro.props
---

<li>
  <a
    href={url}
    target="_blank"
    class="group flex min-w-0 flex-wrap items-center gap-x-4 gap-y-1 py-1"
  >
    <p class="truncate text-sm group-hover:underline">
      {title}
    </p>

    <span class="h-px min-w-[2rem] flex-1 bg-current opacity-15"></span>
    <span class="shrink-0 text-xs text-neutral-500">
      {image && <Image src={image} alt={title} width={24} height={24} class="rounded-md" />}
    </span>

    {description && <p class="w-full text-xs/normal text-neutral-500">{description}</p>}
  </a>
</li>
