---
import { Image } from "astro:assets"
import { getCollection } from "astro:content"
import Item from "~/components/global/Item.astro"

const allTools = await getCollection("tools")

// Sort tools by title in ascending order (alphabetically)
const tools = allTools.sort((a, b) => a.data.title.localeCompare(b.data.title))
---

{
  !!tools.length ? (
    <nav class="space-y-2">
      {tools.map(({ data }) => (
        <a href={data.url} target="_blank" rel="noopener noreferrer nofollow" class="block">
          <Item>
            <Fragment slot="title">{data.title}</Fragment>

            {data.image && (
              <Fragment slot="aside">
                <Image
                  src={data.image}
                  alt={data.title}
                  width={48}
                  height={48}
                  class="rounded-md size-6"
                  loading="eager"
                  fit="cover"
                  layout="responsive"
                />
              </Fragment>
            )}

            {data.description && <Fragment slot="description">{data.description}</Fragment>}
          </Item>
        </a>
      ))}
    </nav>
  ) : (
    <p>No tools found</p>
  )
}
