---
import { Image } from "astro:assets"
import type { CollectionEntry } from "astro:content"
import { formatDate } from "@curiousleaf/utils"
import Link from "~/components/global/Link.astro"
import Prose from "~/components/global/Prose.astro"

type Props = CollectionEntry<"posts">["data"]

const { title, image, tags, pubDate } = Astro.props
---

<section class="flex flex-col items-start gap-12">
  {
    image && (
      <Image
        class="w-full object-cover object-center lg:max-h-72"
        src={image}
        alt={title}
        height={288}
        width={616}
        loading="eager"
      />
    )
  }

  <div>
    <h1 class="text-balance text-3xl font-semibold tracking-tight md:text-4xl">
      {title}
    </h1>

    <div class="mt-4 flex flex-wrap gap-3 text-muted">
      <p class="text-xs">
        {formatDate(pubDate)}
      </p>

      {
        tags.map((tag) => (
          <span class="inline-flex items-center text-xs lowercase hover:text-primary">
            <a href={`/tags/${tag}`}>#{tag}</a>
          </span>
        ))
      }
    </div>
  </div>

  <Prose>
    <slot />
  </Prose>

  <script
    is:inline
    src="https://giscus.app/client.js"
    data-repo="piotrkulpinski/kulpinski.dev"
    data-repo-id="R_kgDOLiBz0Q"
    data-category="Comments"
    data-category-id="DIC_kwDOLiBz0c4ClH-k"
    data-mapping="og:title"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="preferred_color_scheme"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async></script>

  <Link href="/">&xlarr; back</Link>
</section>
